In [1]:
%load_ext sql

In [2]:
%sql postgresql://dwhuser:Passw0rd1@redshift-cluster-p3.cz8so3pkt5ao.us-east-2.redshift.amazonaws.com:5439/songsdwh

'Connected: dwhuser@songsdwh'

In [3]:
%sql Select * from staging_events limit 5;

 * postgresql://dwhuser:***@redshift-cluster-p3.cz8so3pkt5ao.us-east-2.redshift.amazonaws.com:5439/songsdwh
5 rows affected.

[('N.E.R.D. FEATURING MALICE', 'Logged In', 'Jayden', 'M', 0, 'Fox', Decimal('288'), 'free', 'New Orleans-Metairie, LA', 'PUT', 'NextSong', Decimal('1541033612796'), 184, 'Am I High (Feat. Malice)', 200, '1541121934796', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 101),
 (None, 'Logged In', 'Stefany', 'F', 0, 'White', None, 'free', 'Lubbock, TX', 'GET', 'Home', Decimal('1540708070796'), 82, None, 200, '1541122176796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 ('Death Cab for Cutie', 'Logged In', 'Stefany', 'F', 1, 'White', Decimal('216'), 'free', 'Lubbock, TX', 'PUT', 'NextSong', Decimal('1540708070796'), 82, 'A Lack Of Color (Album Version)', 200, '1541122241796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 ('Tracy Gang Pussy', 'Logged In', 'Stefany', 'F', 2, 'White', Decimal('221'), 'free', 'Lubbock, TX', 'PUT', 'NextSong', Decimal('1540708070796'), 82, 'I Have A Wish', 200, '1541122457796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 ('Skillet', 'Logged In', 'Kevin', 'M', 0, 'Arellano', Decimal('178'), 'free', 'Harrisburg-Carlisle, PA', 'PUT', 'NextSong', Decimal('1540006905796'), 153, 'Monster (Album Version)', 200, '1541126568796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 66)]

In [4]:
%sql Select * from artists limit 5;

 * postgresql://dwhuser:***@redshift-cluster-p3.cz8so3pkt5ao.us-east-2.redshift.amazonaws.com:5439/songsdwh
5 rows affected.

[('ARBZIN01187FB362CC', 'Paris Hilton', '27', Decimal('1'), Decimal('103')),
 ('ARSVTNL1187B992A91', 'Jonathan King', 'London, England', Decimal('51'), Decimal('0')),
 ('AR2L9A61187B9ADDBC', 'Tangerine Dream', 'Berlin, Germany', Decimal('52'), Decimal('13')),
 ('ARO81SS1187B996629', 'Nando Reis', '', None, None),
 ('AR1LOGZ1187B990FB4', 'Mike Stern', 'Boston, MA', None, None)]

In [5]:
%sql Select * from songplays limit 5;

 * postgresql://dwhuser:***@redshift-cluster-p3.cz8so3pkt5ao.us-east-2.redshift.amazonaws.com:5439/songsdwh
5 rows affected.

[(0, datetime.datetime(2018, 11, 13, 19, 11, 19, 796000), 97, 'paid', 'SOQSYGY12A8C137E0F', 'AROF4LP1187FB41C51', 537, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (4, datetime.datetime(2018, 11, 19, 7, 37, 44, 796000), 24, 'paid', 'SOAUKIS12A58A7F424', 'ARMNFB41187B9AD2DC', 672, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (8, datetime.datetime(2018, 11, 17, 23, 13, 41, 796000), 70, 'paid', 'SOKUCXB12A6D4FAC0C', 'ARHO39G1187FB4E31B', 113, 'San Antonio-New Braunfels, TX', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (12, datetime.datetime(2018, 11, 13, 22, 27, 0, 796000), 95, 'paid', 'SOBRSQO12AB017F8E7', 'ARN5LYA1187FB4594A', 411, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (16, datetime.datetime(2018, 11, 22, 17, 18, 20, 796000), 83, 'free', 'SOSJEEG12A6BD5571F', 'AR8RQVM1187B9A2645', 772, 'Lubbock, TX', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [6]:
%sql Select * from songs limit 5;

 * postgresql://dwhuser:***@redshift-cluster-p3.cz8so3pkt5ao.us-east-2.redshift.amazonaws.com:5439/songsdwh
5 rows affected.

[('SODZYPO12A8C13A91E', 'Burn My Body (Album Version)', 'AR1C2IX1187B99BF74', 0, Decimal('177')),
 ('SOTAZDY12AB0187616', 'Drillbit', 'ARZKCQM1257509D107', 0, Decimal('374')),
 ('SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', 1969, Decimal('148')),
 ('SOHOZBI12A8C132E3C', 'Smash It Up', 'AR0MWD61187B9B2B12', 2000, Decimal('195')),
 ('SOHUOAP12A8AE488E9', 'Floating', 'ARD842G1187B997376', 1987, Decimal('491'))]

In [7]:
%sql Select * from users limit 5;

 * postgresql://dwhuser:***@redshift-cluster-p3.cz8so3pkt5ao.us-east-2.redshift.amazonaws.com:5439/songsdwh
5 rows affected.

[(101, 'Jayden', 'Fox', 'M', 'free'),
 (66, 'Kevin', 'Arellano', 'M', 'free'),
 (86, 'Aiden', 'Hess', 'M', 'free'),
 (15, 'Lily', 'Koch', 'F', 'paid'),
 (80, 'Tegan', 'Levine', 'F', 'free')]

In [8]:
%sql Select * from time limit 5;

 * postgresql://dwhuser:***@redshift-cluster-p3.cz8so3pkt5ao.us-east-2.redshift.amazonaws.com:5439/songsdwh
5 rows affected.

[(datetime.datetime(2018, 11, 2, 1, 25, 34, 796000), 1, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 1, 30, 41, 796000), 1, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 2, 42, 48, 796000), 2, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 3, 32, 41, 796000), 3, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 5, 15, 41, 796000), 5, 2, 44, 11, 2018, 5)]

In [9]:
%sql SELECT song_id, sum(duration) FROM songs GROUP BY songs.song_id ORDER BY sum(duration) DESC LIMIT 5

 * postgresql://dwhuser:***@redshift-cluster-p3.cz8so3pkt5ao.us-east-2.redshift.amazonaws.com:5439/songsdwh
5 rows affected.

[('SOQTXVQ12A8C13E6C4', Decimal('2709')),
 ('SOFDJER12A6D4FD361', Decimal('1686')),
 ('SOGGOLP12A8C135765', Decimal('1570')),
 ('SOZXQBU12AB0187B8F', Decimal('1519')),
 ('SOBGEIG12A6D4F6635', Decimal('1519'))]